<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>
  <div>
      <span>性別</span><br>
      <%= form.radio_button :gender, :male %>
      <%= form.label :gender, "男性", {value: :male, style: "display: inline-block;"} %>
      <%= form.radio_button :gender, :female %>
      <%= form.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
  </div>
  <div class="field">
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div><br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>